<h1>Pipes Assignment</h1>
<h1>Reverse Pipe : {{name|myRev}}</h1>

<h1>Addition Pipe 8+2: {{8|myAdd:2}}</h1>
<h1>Addition Pipe 8+2+3: {{8|myAdd:2:3}}</h1>

<h1>Multiplication Pipe 7*2 : {{7|myMult:2}}</h1>
<h1>Multiplication Pipe 7*2*3 : {{7|myMult:2:3}}</h1>

<h1>MarvellousChk Pipe 8 : {{8|marvellousChk:'Even'}}</h1>
<h1>MarvellousChk Pipe 7: {{7|marvellousChk:'Even'}}</h1>

<h1>MarvellousChk Pipe 8: {{8|marvellousChk:'Odd'}}</h1>
<h1>MarvellousChk Pipe 7: {{7|marvellousChk:'Odd'}}</h1>

<h1>MarvellousChk Pipe 11: {{11|marvellousChk:'Prime'}}</h1>
<h1>MarvellousChk Pipe 12: {{12|marvellousChk:'Prime'}}</h1>

<h1>MarvellousChk Pipe 28: {{28|marvellousChk:'Perfect'}}</h1>
<h1>MarvellousChk Pipe 10: {{10|marvellousChk:'Perfect'}}</h1>